@media only screen and (min-width: 320px) and (max-width: 767px) {
/*----------------------------------------------------------------------------------------
    SECCION HEADER
-----------------------------------------------------------------------------------------*/
body #barNav {
    background: var(--color-azul-semioscuro) !important;
    padding-left: 0vh;
    padding-top: 20px;
}

.ourLogo {
    width: 8rem;
    height: 8rem;
}

#barNav .container-fluid a {
    color: #fff;
    font-size: 1.9rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
}


#barNav .container-fluid #navbar-toggler{
    border:none;
}

#barNav .container-fluid #navbar-toggler:focus{
    border:none;
    outline:none;
    color:none !important
}

#barNav .container-fluid #navbar-toggler:active{
    border:none;
    outline:none;
    color:none !important
}

#barNav .container-fluid #navbar-toggler:after{
    border:none;
    outline:none;
    color:none !important
}


.header-capa {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 16vh;

    gap: 20px 20px;
    width: 100%;
}

.a-capa-link-interno {
    color: var(--color-blanco);
    font-family: "myFont";
    font-size: 18px;
    font-weight: 600;
    transition: var(--base-transiciones);
}

.a-capa-link-interno:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: var(--color-blanco);
}


/*========banner principal=====================*/
.content-info-COb .content-info-COb-texts .content-info-COb-seo-title{
    font-size:3rem;
    font-family:var(--textos-generales);
}

.principal-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap: 20px 20px;
    background-color: var(--color-azul-semioscuro);
}

body #principalBanner{
    height:auto;
}

body #principalBanner img{
    width:80%;
    height:80%;
    margin:0 auto;
    margin-top:0rem;
    margin-bottom:2rem;
}

#principalBanner .content-info-COb #introCOB{
    background:none;
    width:100vw;
    padding:1rem;
    text-align:center;
}

#principalBanner #fastMail{
    width:90%;
}



/*------------content info------------------*/

.content-info-COb {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 0vh;
    gap: 10px 10px;
    position: relative;
}

.content-info-COb-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px 20px;

    width: 90%;

}

.content-info-COb-seo-title {
    color: var(--color-blanco);
    font-family: "myFont";
    font-size: 50px;
    font-weight: 600;
    text-align: center;

    margin: 0%;
    padding-top: 60px;
}

.content-info-COb-parraf {
    color: var(--color-blanco);
    font-family: "myFont";
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin: 0%;

}

.img-content-info-COb {
    width: 450px;
    z-index: 31241;
    padding-top: 20px;
}




/*-=--------------form-text-email*/

.form-text-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 0px;
}

.input-form-text {
    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco);
    border: none;
    outline: none;
    font-family: "myFont";

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    font-size: 12px;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

::placeholder {
    color: var(--color-blanco);
}

.buton-form-text {
    background-color: var(--color-celeste-claro);
    color: var(--color-blanco);
    border: none;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    font-size: 12px;
    font-family: "myFont";
    padding: 10px;
    box-shadow: #00a2ff44 0px 10px 20px, #00A3FF30 0px 6px 6px;
    transition: var(--base-transiciones);
}

.buton-form-text:hover {
    box-shadow: #00a2ff82 0px 10px 20px, #00A3FF60 0px 6px 6px;
}




/*----------------------------------------------------------------------------------------
    QUIENES SOMOS 
-----------------------------------------------------------------------------------------*/
.quienes-somos-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 10px;

    width: 95%;
    margin: 4% auto;

}

.quienes-somos-div-seo-title {
    margin: 0% auto;
    color: var(--color-azul-semioscuro);
    font-size: 36px;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.quienes-somos-div-seo-paraf {
    margin: 0% auto;
    color: var(--color-azul-semioscuro);
    font-family: "myFont";
    font-size: 12.5px;
    font-weight: 600;
    text-align: center;
}


/*----------------------------------------------------------------------------------------
    HACEMOS TU PROYECTO REALIDAD
-----------------------------------------------------------------------------------------*/
.Hacemos-tu-proyect-realidad-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 10px;
    padding: 30px 0px 30px 0px;
}

.content-Hacemos-tu-proyect-realidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 10px;
    width: 95%;
}

.title-Hacemos-tu-proyect-realidad br {
    display: none;
}

.title-Hacemos-tu-proyect-realidad {
    margin: 0%;
    color: var(--color-azul-semioscuro);
    font-size: 22px;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
}

.paraf-Hacemos-tu-proyect-realidad {
    margin: 0%;
    color: var(--color-azul-semioscuro);
    font-size: 15px;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.butons-Hacemos-tu-proyect-realidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
}

.button-1-paraf-Hacemos-tu-proyect-realidad {
    background-color: var(--color-celeste-claro);
    color: var(--color-blanco);

    font-size: 12px;
    padding: 10px;
    box-shadow: #00a2ff44 0px 10px 20px, #00A3FF30 0px 6px 6px;
    transition: var(--base-transiciones);
    width: 280px;
    text-align: center;
    border-radius: var(--border-bordes);
    text-decoration: none;

    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.button-1-paraf-Hacemos-tu-proyect-realidad:hover {
    text-decoration: none;
    color: var(--color-blanco);
    transform: scale(1.050);
}

.button-2-paraf-Hacemos-tu-proyect-realidad {
    background-color: var(--color-azul-semioscuro);
    color: var(--color-blanco);

    font-size: 12px;
    padding: 10px;
    box-shadow: #00000044 0px 10px 20px, #00000030 0px 6px 6px;
    transition: var(--base-transiciones);
    text-align: center;
    width: 280px;
    border-radius: var(--border-bordes);

    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.button-2-paraf-Hacemos-tu-proyect-realidad:hover {
    text-decoration: none;
    color: var(--color-blanco);
    transform: scale(1.050);
}

.img-Hacemos-tu-proyect-realidad-div {
    width: 60%;
}

.img-Hacemos-tu-proyect-realidad {
    width: 100%;
    margin: 0% auto;
    z-index: 4141414;
}


/*----------------------------------------------------------------------------------------
    NUESTRO TRABAJO 
-----------------------------------------------------------------------------------------*/
.nuestro-trabajo-div-title {
    margin: 0% auto;
    color: var(--color-azul-semioscuro);
    font-size: 30px;
    text-align: center;

    font-family: poppins, sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    padding-top: 30px;
}

.border-nuestro-trabajo {
    height: 3px;
    width: 20%;
    background-color: var(--color-azul-semioscuro);
    margin: 0% auto;
}

.nuestro-trabajo-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 30px;
    padding-bottom: 50px;
}

.nuestro-trabajo-div-content-project {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;

    background-color: var(--color-blanco);
    width: 300px;
    height: 120px;
    padding: 40px 0px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    transition: var(--base-transiciones);
}

.nuestro-trabajo-div-content-project:hover {
    transform: scale(1.050)
}

.img-content-project {
    width: 80%;
    margin: 0% auto;
}

/*----------------------------------------------------------------------------------------
    SECCION SOBRE NUESTRO EQUIPO 
-----------------------------------------------------------------------------------------*/
.col-md-4 {
    width: 80% !important;
}

#ourTeamCards {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 0px;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: center;
}


.our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
}

.our-team .team-wrap {
    padding: 0 40px;
}

.our-team .container-fluid {
    padding: 0 50px;
}

.team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.miembros,
.team-img {
    position: relative;
    overflow: hidden;
}

.name-develop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.team-title {
    text-align: start;
    margin: 0% auto;
    color: var(--color-azul-semioscuro);

    font-family: "myFont";
    font-size: 22px;
    font-weight: bold;
    text-align: start;
}

.team-title-dev {
    text-align: start;
    margin: 0% auto;
    color: var(--color-azul-semioscuro);

    font-family: "myFont";
    font-size: 12px;
    font-weight: 100;
    text-align: start;
}

.overlay {
    background-color: rgba(20, 20, 20, .7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.detalles {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.detalles p {
    color: #fff;
    font-size: 16px;
}

.team-img:hover .detalles {
    opacity: 1;
    margin-top: -80px;
}

.team-img:hover .overlay {
    opacity: 1;
}

.redes-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 40px;
}

.redes-sociales i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.detalles .redes-sociales i {
    color: #fff;
}

.redes-sociales a:hover i {
    color: #fff;
    background-color: #355c7d;
}


#containerOurTeam #ourTeamCards div{
    font-family:var(--textos-generales);
}



/*#ourTeamCards {
    background: none;
    margin-top: 2rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#ourTeamCards div {
    width: 25rem;
    height: 25rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-family: var(--textos-generales);
}*/


/*----------------------------------------------------------------------------------------
    SECCION SOBRE LO QUE OFRECEMOS 
-----------------------------------------------------------------------------------------*/
#ourOffert article {
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding:1rem;
    font-family: var(--textos-generales);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ourOffert article picture {
    width: 50%;
    object-fit: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ourOffert article div {
    width: 90%;
}

#ourOffert article h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: poppins, sans-serif;
    font-style: normal;
    color: var(--color-azul-semioscuro);
    text-align: center;
}

#ourOffert article img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#ourOffert article p {
    font-size: 1.7rem;
    font-family: poppins, sans-serif;
    font-style: normal;
    color: var(--color-azul-oscuro);
    font-weight: 300;
    text-align: center;
}

#ourOffert #containerInterface picture{
    margin-bottom:3rem;
}

#ourOffert #containerRD{
    display:flex;
    flex-direction:column-reverse;
}

#ourOffert #containerProtection{
    display:flex;
    flex-direction:column-reverse;
}

/*----------------------------------------------------------------------------------------
    SECCION CUALES SON LAS VENTAJAS 
-----------------------------------------------------------------------------------------*/
#accordionPanelsStayOpenExample {
    width: 90%;
    margin: 0% auto;
    padding: 10px 0px 30px 0px;
}


#accordion-item {
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.059) 0px 3px 6px, rgba(0, 0, 0, 0.088) 0px 3px 6px;
    margin: 15px auto;
    border-radius: 10px;
    outline: none;
}


.accordion-header {
    color: var(--color-azul-semioscuro);
    font-size: 2.3rem;
    font-family: poppins, sans-serif;
    font-style: normal;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    border: none;
}


#panelsStayOpen-headingOn-font:focus {
    z-index: 3;
    border-color: rgba(0, 162, 255, 0);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}

#panelsStayOpen-headingOn-font:not(.collapsed) {
    transition: var(--base-transiciones);
    background-color: var(--color-background) !important;
    box-shadow: none;
}

#accordion-body {
    color: var(--color-azul-oscuro);
    font-size: 1.7rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    padding: 15px;
}

/*----------------------------------------------------------------------------------------
    SECCION TEXTO DE INVITACION 
-----------------------------------------------------------------------------------------*/
body #textInvitation {
    background: url("../../img/index/bgCode.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 30vh;
    font-size:1rem;
    font-family: var(--textos-generales);
    text-align: center;
    font-weight: bold;
    color: #fff;
    
}

#textInvitation #textInvitationBg {
    background: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100%;
    padding:3rem;

    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:2rem;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

/*----------------------------------------------------------------------------------------
    SECCION NUESTRO USO DE MOTODOLOGIAS AGILES  
-----------------------------------------------------------------------------------------*/
#ourMethodAgil {
    font-family: var(--textos-generales);
    background:none;
    width: 100vw;
    margin: 3rem auto;
    height:auto;
    padding: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ourMethodAgil .ourMethodAgilLema {
    font-size: 2rem;
    font-weight: bold;
}


#ourMethodAgil .ourMethodAgilAuthor {
    font-size: 1.8rem;
    margin-top: 3rem;
    border-bottom: solid .1rem black;
}

/*-------------------------------------------------------------------------------------------------
    SECCION SOBRE NUESTROS SERVICIOS 
--------------------------------------------------------------------------------------------------*/
#ourServicesContainer article img{
    width:10rem;
    height:10rem;
    margin-bottom:2rem;
}

#ourServicesContainer article{
    background:purple;
    padding:2rem;
    margin:2rem;
    border-radius:1rem;
    font-size:1.8rem;
    color:#fff;
    font-family:var(--textos-generales);
    text-align:center;
}


#ourServicesContainer .ourServicesContainer1{
    background:var(--color-azul-oscuro);
}

#ourServicesContainer .ourServicesContainer2{
    background:var(--color-amarillo);
    color:var(--color-azul-oscuro);
}

#ourServicesContainer .ourServicesContainer3{
    background:var(--color-azul-semioscuro);
}

#ourServicesContainer .ourServicesContainer3 img{
    width:4.5rem;
    height:4.5rem;
}

/*-------------------------------------------------------------------------------------------------
    SECCION SOPORTE TECNICO LOCAL
--------------------------------------------------------------------------------------------------*/
#supportLocal{
    background:none;
    padding:2.5rem;
    margin:1rem;
    border-radius:1rem;
    
    font-family:var(--textos-generales);
}

#supportLocal h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:1.5rem;
}

#supportLocal p{
    font-size:1.6rem;
    text-align:center;
}


#supportLocal #supportLocalContainerForm{
    border-radius:1rem;
    border:solid .2rem var(--color-gris-transparent);
    padding:1rem;
    margin-top:3rem;
    margin-left:-2rem;
    margin-right:-2rem;
}

#supportLocal .textAboutForm{
    text-align:left;
}

#supportLocalContainerForm article .FormCheckList{
    background:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap:wrap;
    font-size:1.5rem;
    margin-bottom:2rem;
}

#supportLocalContainerForm article .FormCheckList div{
    margin:1rem;
}

#supportLocalContainerForm article .FormCheckList input{
    padding:1.2rem;
    margin-right:1rem;
}

#supportLocalContainerForm article .FormCheckList .form-check{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


#supportLocalContainerForm .inputsMailMessage .form-control{
    padding:1.5rem 1rem;
    font-size:1.8rem;
}

body #supportLocal #btnFormSupport{
    font-size:1.3rem;
    padding:1rem;
}
/*-------------------------------------------------------------------------------------------------
    FOOTER 
--------------------------------------------------------------------------------------------------*/
body #footer{
    background:var(--color-azul-oscuro) !important;
    color:#fff !important;
    font-family:var(--textos-generales) !important;
}

body #footer #iconsSocialMedia a i{
    font-size:2.5rem;
    margin:1rem;
}

body #footer #descriptionGrupFooter{
    font-size:1.6rem;
}

#footer div #text-title-footer{
    font-size:2rem;
    margin-top:2rem;
    margin-bottom:-2rem;
}

body #footer #ourTechs{
    background:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:1rem;
}

body #footer #ourTechs p{
    margin:1rem;
    font-size:1.6rem;
}


body #footer #linksFooter #enlacesUtiles{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

body #footer #linksFooter #enlacesUtiles p{
    margin:1rem;
    font-size:1.6rem;
}


#footer #linksFooter #mailPhoneFooter{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    font-size:1.6rem;
}


#footer #copyright{
    font-size:1.6rem;
}

/*--------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
   DETALLES ADICIONALES CSS PARA DISPOSIVOS MAS PEQUEÑOS 
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
    BANNER PRINCIPAL
-----------------------------------------------------------------------------------------*/
.principal-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap: 20px 20px;
    background-color: var(--color-azul-semioscuro);
    height: 70vh;
}



/*------------content info------------------*/

.content-info-COb {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 0vh;
    gap: 10px 10px;
    position: relative;
}

.content-info-COb-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px 20px;

    width: 90%;

}

.content-info-COb-seo-title {
    color: var(--color-blanco);
    font-family: "myFont";
    font-size: 46px;
    font-weight: 600;
    text-align: center;

    margin: 0%;
    padding-top: 20px;
}

.content-info-COb-parraf {
    color: var(--color-blanco);
    font-family: "myFont";
    font-size: 17.5px;
    font-weight: lighter;
    text-align: center;
    margin: 0%;

}

.img-content-info-COb {
    width: 380px;
    z-index: 31241;
    padding-top: 0px;
}




/*-=--------------form-text-email*/

.form-text-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 0px;
}

.input-form-text {
    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco);
    border: none;
    outline: none;
    font-family: "myFont";

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    font-size: 12px;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

::placeholder {
    color: var(--color-blanco);
}

.buton-form-text {
    background-color: var(--color-celeste-claro);
    color: var(--color-blanco);
    border: none;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    font-size: 12px;
    font-family: "myFont";
    padding: 10px;
    box-shadow: #00a2ff44 0px 10px 20px, #00A3FF30 0px 6px 6px;
    transition: var(--base-transiciones);
}

.buton-form-text:hover {
    box-shadow: #00a2ff82 0px 10px 20px, #00A3FF60 0px 6px 6px;
}


/*----------------------------------------------------------------------------------------
    SECCION SOBRE LAS VENTAJAS
-----------------------------------------------------------------------------------------*/
#accordionPanelsStayOpenExample {
    width: 95%;
    margin: 0% auto;
    padding: 10px 0px 30px 0px;
}


#accordion-item {
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.059) 0px 3px 6px, rgba(0, 0, 0, 0.088) 0px 3px 6px;
    margin: 15px auto;
    border-radius: 10px;
    outline: none;
}


.accordion-header {
    color: var(--color-azul-semioscuro);
    font-size: 1.8rem;
    font-family: poppins, sans-serif;
    font-style: normal;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    border: none;
}


#panelsStayOpen-headingOn-font:focus {
    z-index: 3;
    border-color: rgba(0, 162, 255, 0);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}

#panelsStayOpen-headingOn-font:not(.collapsed) {
    transition: var(--base-transiciones);
    background-color: var(--color-background) !important;
    box-shadow: none;
}

#accordion-body {
    color: var(--color-azul-oscuro);
    font-size: 1.5rem;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    padding: 15px;
}

.fa-bars {
    color: var(--color-blanco);
    font-size: 40px;
    border:none;
}

#navbar-toggler {
    border: none;
    outline: none !important;
}




}





